body {
  margin: 0;
  padding: 0;
}

/* Utilities */

.poiret {
  font-family: 'Poiret One', cursive;
}

.sans-serif {
  font-family: Helvetica, Arial, Sans-Serif;
}

.uppercase {
  text-transform: uppercase;
}

.light-green {
  color: #518D70;
}

.title {
  color: #016A37;
  font-size: 24pt;
  overflow: hidden;
  -webkit-text-stroke: 2px #016A37;
}

.title-small {
  color: #016A37;
  font-size: 20pt;
  overflow: hidden;
  -webkit-text-stroke: 2px #016A37;
}

.title div {
  float: left;
}

.title img {
  float: left;
}

.line {
  height: 3px;
  background-color: #016A37;
}

.line img {
  width: 20px;
  height: 7px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.letter-c {
  width: 33px;
  height: 37px;
  margin-top: 0.2em;
}

.green-bg {
  background-color: #E0E4D6;
}

.gray {
  color: #777;
}

.white {
  color: #FFF;
}

/* Header */

.header {
  background: url('../img/header-bg.jpg') repeat-x top left;
  background-size: 5px 110px;
  margin: 0;
  padding: 0;
}

.header .container {
  overflow: hidden;
}

.header .header-logo {
  width: 182px;
  height: 175px;
  margin-top: 15px;
}

.header .hero {
  background: url('../img/hero.jpg') no-repeat center center;
  background-size: 1727px 475px;
  height: 475px;
  width: 100%;
  margin-top: -80px;
  border-bottom: 8px solid #ACBB80;
}

.header .hero-text {
  font-size: 22pt;
  color: white;
  -webkit-text-stroke: 2px white;
  height: 100%;
}

.header .hero-text .row {
  height: 100%;
}

.header .hero-text-contents {
  display: flex;
  align-items: center;
}

/* Headline */

.headline {
  margin-top: 3em;
  overflow: hidden;
}

.headline .alberta {
  width: 64px;
  height: 120px;
}

.headline .text {
  font-size: 25pt;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* What */

.what {
  margin-top: 3em;
  margin-bottom: 3em;
}

.what .description {
  font-size: 18pt;
  font-weight: bold;
}

.what .tailing-pond {
  overflow: hidden;
}

.what .tailing-pond img {
  width: 100%;
  height: auto;
}

.what .caption {
  font-size: 10pt;
  color: #999;
  text-align: right;
}

/* Advantages */

.advantages {
  padding-top: 3em;
}

.advantages .icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 327px;
  height: 231px;
  width: 100%;
}

.advantages .rd {
  background-image: url('../img/rd.jpg');
}

.advantages .pt {
  background-image: url('../img/pt.jpg');
}

.advantages .oe {
  background-image: url('../img/oe.jpg');
}

.advantages .caption {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
  margin-top: 1.5em;
}

/* Remediation */

.remediation {
  padding-top: 3em;
}

.remediation .photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 353px;
  height: 470px;
  border: 4px solid #016A37;
  width: 100%;
}

.remediation .slurry {
  background-image: url('../img/slurry.jpg');
}

.remediation .treated {
  background-image: url('../img/treated.jpg');
}

.remediation .final {
  background-image: url('../img/final.jpg');
}

.step {
  margin-top: 2.5em;
  overflow: hidden;
}

.remediation .step img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.remediation .step .caption {
  font-size: 20pt;
}

/* Team */

.team {
  padding: 50px 0 50px 0;
}

.team .photo img {
  width: 167px;
  height: 220px;
  border: 4px solid #016A37;
}

.team .bio .title-small {
  font-size: 20pt;
}

.team .bio .sub-caption {
  font-size: 18pt;
}

@media (max-width: 768px) {
  .team .bio {
    padding-left: 0px;
  }
}

@media (min-width: 992px) {
  .team .bio {
    padding-left: 20px;
  }

  .team .bio .title-small {
    font-size: 18pt;
  }

  .team .bio .sub-caption {
    font-size: 16pt;
  }
}

@media (min-width: 1200px) {
  .team .bio {
    padding-left: 42px;
  }

  .team .bio .title-small {
    font-size: 20pt;
  }

  .team .bio .sub-caption {
    font-size: 18pt;
  }
}

.team .bio .sub-caption {
  color: #777;
  -webkit-text-stroke: 1px #777;
}

.team .bio ul {
  padding-left: 1em;
}

/* Collaborations */

.collaborations {
  padding: 50px 0 50px 0;
}

.collaborations .blurb {
  font-size: 14pt;
  display: flex;
  align-items: center;
}

.collaborations .cn {
  width: 251px;
  height: 110px;
}

.collaborations .oilserv {
  width: 259px;
  height: 36px;
}

.collaborations .schlumberger {
  width: 260px;
  height: 59px;
}

.collaborations .cp-services {
  width: 273px;
  height: 77px;
}

/* Footer */

.footer {
  background-color: #6B9A83;
}

.footer .logo {
  width: 152px;
  height: 152px;
}

.footer .inc {
  font-size: 26pt;
}

.footer .location {
  font-size: 14pt;
}

.footer .social {
  width: 77px;
  height: 77px;
}
